@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebsiteBanHang.Models.Product
@{
}
<h2>Product Details</h2>

<div>
    <h4 class="mt-2">Name: @Model.Name</h4>
    <h4 class="mt-2">Price: @Model.Price</h4>
    <h4 class="mt-2">Description: @Model.Description</h4>
    
    @if (Model.ImageUrl is not null)
    {
        <img src="@Model.ImageUrl" alt="Product Image" class="img-thumbnail mt-2" style="width: 300px"/>
    }
</div>

<a asp-action="Index" class="btn btn-success mt-2">Back to List</a>

